.idea/
node_modules/
logs/
.build/
.docker/
dist/
npm-debug.log
coverage/
.vagrant/
docker/.*
copy_coverage
test-results.xml
update_project_files
.githooks/
.DS_Store
=======
.*/
!.gitignore
*~
*.iml
*.ipr
*.iws
*.log
build/
coverage/
copy_coverage
update_project_files
TESTS-*.xml
test-results.xml
ansible/shared_roles/
